MONGODB_URI=mongodb://127.0.0.1:27017/lms_sekolah
NEXTAUTH_URL=http://localhost:3000
# buat dengan: openssl rand -base64 32
NEXTAUTH_SECRET=ganti-dengan-string-acak-panjang
# akun admin pertama (dipakai oleh: npm run seed)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin12345

# tampilan (opsional)
NEXT_PUBLIC_SCHOOL_NAME=SMA Negeri 3 Bandung
NEXT_PUBLIC_TAHUN_AJARAN=2024/2025
